name: Build/Test

on:
  # Trigger on every pull request
  pull_request:

permissions:
  contents: read

jobs:
  build-test:
    runs-on: macos-13
    steps:
      - name: Checkout epoxy
        uses: actions/checkout@v4

      - name: Setting up Java 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '11'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/master' }}

      - name: Build / Unit tests / Lint
        run: "./gradlew check --stacktrace"

      - name: Run UI Tests
        uses: reactivecircus/android-emulator-runner@v2.32.0
        with:
          api-level: 21
          target: default
          arch: x86_64
          emulator-options: -no-skin -no-window -no-audio -no-boot-anim -gpu swiftshader_indirect
          disable-animations: true
          script: ./gradlew :epoxy-composeinterop-maverickssample:connectedDebugAndroidTest --stacktrace
