name: Build/Test

on:
  # Trigger on every pull request
  pull_request:
jobs:
  build-test:
    runs-on: macos-11
    steps:
      - name: Checkout epoxy
        uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        name: Setting up Java 11
        with:
          distribution: liberica
          java-version: '11'
      - name: Build / Unit tests / Lint
        run: "./gradlew check --stacktrace"
      - name: Run UI Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          emulator-build: 7425822
          api-level: 21
          target: default
          arch: x86_64
          emulator-options: -no-skin -no-window
          script: ./gradlew :epoxy-composeinterop-maverickssample:connectedDebugAndroidTest --stacktrace
